## musinsa_label과 musinsa_counts Data Join

In [ ]:
# musinsa_label_data 불러오기
import pandas as pd

# 1. 파일 경로 지정
file_path_musinsa_label = "./Data/musinsa_label_data.csv"

# 2. CSV 파일을 DataFrame으로 불러오기
df_musinsa_label = pd.read_csv(file_path_musinsa_label, encoding="utf-8")  # 보통 utf-8, 혹은 cp949 필요할 수 있음

# 3. 데이터 확인
print(df_musinsa_label.head())

   goodsNo                                     goodsName displayGenderText  \
0  3046279              SELVEDGE DENIM 2ND JACKET_INDIGO                공용
1  3046316  [MUT lab] 40S SELVEDGE STRAIGHT PANTS_INDIGO                공용
2  3046300     30S CINCH BACK SELVEDGE WIDE PANTS_INDIGO                공용
3  4693591    [MUT lab] SELVEDGE DENIM 1ST JACKET_INDIGO                남성
4  5392266     TEA-CORE LEATHER W.W. II 1ST JACKET_BLACK                남성

   normalPrice   price  couponPrice  saleRate  couponSaleRate  hasOptionPrice  \
0       159000  143100          NaN        10             NaN           False
1       128000  115200          NaN        10             NaN           False
2       128000  115200          NaN        10             NaN           False
3       159000  143100          NaN        10             NaN           False
4       388000  388000          NaN         0             NaN           False

         brand  reviewCount  reviewScore  isYoutubeCollab
0  outstanding         2122           96                0
1  outstanding         1547           96                0
2  outstanding         2974           98                0
3  outstanding          485           98                0
4  outstanding           33           98                0

In [2]:
# musinsa_counts_data 불러오기
import pandas as pd

# 1. 파일 경로 지정
file_path_musinsa_counts = "./Data/musinsa_counts_data.csv"

# 2. CSV 파일을 DataFrame으로 불러오기
df_musinsa_counts = pd.read_csv(file_path_musinsa_counts, encoding="utf-8")  # 보통 utf-8, 혹은 cp949 필요할 수 있음

# 3. 데이터 확인
print(df_musinsa_counts.head())

  likeType  relationId  count  liked
0    GOODS     3046279  14280  False
1    GOODS     3046316   8569  False
2    GOODS     3046300  13368  False
3    GOODS     4693591   4923  False
4    GOODS     5392266   1141  False

In [ ]:
# 두 DataFrame join
df_musinsa = pd.merge(
    df_musinsa_label,      # 왼쪽 DataFrame
    df_musinsa_counts,             # 오른쪽 DataFrame
    left_on='goodsNo',     # df_musinsa_label 기준 컬럼
    right_on='relationId', # df_musinsa_counts 기준 컬럼
    how='inner'            # inner join (양쪽 모두 있는 데이터만)
)

# 결과 확인
print(df_musinsa.shape)
print(df_musinsa.head())

(2243, 17)
   goodsNo                                     goodsName displayGenderText  \
0  3046279              SELVEDGE DENIM 2ND JACKET_INDIGO                공용
1  3046316  [MUT lab] 40S SELVEDGE STRAIGHT PANTS_INDIGO                공용
2  3046300     30S CINCH BACK SELVEDGE WIDE PANTS_INDIGO                공용
3  4693591    [MUT lab] SELVEDGE DENIM 1ST JACKET_INDIGO                남성
4  5392266     TEA-CORE LEATHER W.W. II 1ST JACKET_BLACK                남성

   normalPrice   price  couponPrice  saleRate  couponSaleRate  hasOptionPrice  \
0       159000  143100          NaN        10             NaN           False
1       128000  115200          NaN        10             NaN           False
2       128000  115200          NaN        10             NaN           False
3       159000  143100          NaN        10             NaN           False
4       388000  388000          NaN         0             NaN           False

         brand  reviewCount  reviewScore  isYoutubeCollab likeType  \
0  outstanding         2122           96                0    GOODS
1  outstanding         1547           96                0    GOODS
2  outstanding         2974           98                0    GOODS
3  outstanding          485           98                0    GOODS
4  outstanding           33           98                0    GOODS

   relationId  count  liked
0     3046279  14280  False
1     3046316   8569  False
2     3046300  13368  False
3     4693591   4923  False
4     5392266   1141  False

In [ ]:
# csv로 추출
# df_musinsa.to_csv('Data/musinsa_pick.csv', index=False)

In [4]:
df_musinsa.head()

,goodsNo,goodsName,displayGenderText,normalPrice,price,couponPrice,saleRate,couponSaleRate,hasOptionPrice,brand,reviewCount,reviewScore,isYoutubeCollab,likeType,relationId,count,liked
0,3046279,SELVEDGE DENIM 2ND JACKET_INDIGO,공용,159000,143100,NaN,10,NaN,False,outstanding,2122,96,0,GOODS,3046279,14280,False
1,3046316,[MUT lab] 40S SELVEDGE STRAIGHT PANTS_INDIGO,공용,128000,115200,NaN,10,NaN,False,outstanding,1547,96,0,GOODS,3046316,8569,False
2,3046300,30S CINCH BACK SELVEDGE WIDE PANTS_INDIGO,공용,128000,115200,NaN,10,NaN,False,outstanding,2974,98,0,GOODS,3046300,13368,False
3,4693591,[MUT lab] SELVEDGE DENIM 1ST JACKET_INDIGO,남성,159000,143100,NaN,10,NaN,False,outstanding,485,98,0,GOODS,4693591,4923,False
4,5392266,TEA-CORE LEATHER W.W. II 1ST JACKET_BLACK,남성,388000,388000,NaN,0,NaN,False,outstanding,33,98,0,GOODS,5392266,1141,False

In [5]:
df_musinsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2243 entries, 0 to 2242
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   goodsNo            2243 non-null   int64
 1   goodsName          2243 non-null   object
 2   displayGenderText  2243 non-null   object
 3   normalPrice        2243 non-null   int64
 4   price              2243 non-null   int64
 5   couponPrice        0 non-null      float64
 6   saleRate           2243 non-null   int64
 7   couponSaleRate     0 non-null      float64
 8   hasOptionPrice     2243 non-null   bool
 9   brand              2243 non-null   object
 10  reviewCount        2243 non-null   int64
 11  reviewScore        2243 non-null   int64
 12  isYoutubeCollab    2243 non-null   int64
 13  likeType           2243 non-null   object
 14  relationId         2243 non-null   int64
 15  count              2243 non-null   int64
 16  liked              2243 non-null   bool
dtypes: bool(2), float64(2), int64(9), object(4)
memory usage: 267.4+ KB